<div class="container">
    <div class="row">
        <div class="col-sm-1"><span class="glyphicon glyphicon-user pull-left btn-lg" aria-hidden="true" title="Add to account"></span></div>
        <div class="col-sm-11">
            <p>Would you like to save this processed request to your account history?</p>
            <p>
                <button class="btn btn-success" id="cancel" type="button" data-dismiss="modal">No</button>
                <a href="#" class="btn btn-warning yes">Yes</a>
            </p>
        </div>
    </div>
</div>
