<div class="container">
    <div class="row">
        <div class="col-sm-1"><span class="glyphicon glyphicon-warning-sign pull-left btn-lg" aria-hidden="true" title="Warning"></span></div>
        <div class="col-sm-11">
            <div class="warning-content">
                <p> 
                    You will lose your conversion results if you close this window. 
                </p>
                <p>
                    Login or Register for an account to access your conversion history at any time.
                </p>
            </div>
            <p>
                <button class="btn btn-success" id="cancel" type="button" data-dismiss="modal">Stay on Page</button>
                <a id="continue" href="#" class="btn btn-warning">Close Anyway</a>
            </p>
        </div>
    </div>
</div>
